/* ----------------------- */
/*         SECCIONES       */
/* ----------------------- */

/* Títulos principales de cada diapositiva */
.section__title {
    font-size: 2.5em; /* Tamaño más grande para títulos */
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px; /* Mayor separación con el subtítulo */
}

/* Subtítulos con diferentes tamaños */
.section__subtitle {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
}

.section__subtitle--medium {
    font-size: 1.4em;
    color: #555;
}

.section__subtitle--small {
    font-size: 1.2em;
    color: #777;
}

/* ----------------------- */
/*       LISTAS            */
/* ----------------------- */

/* Contenedor de listas */
.section__list {
    font-size: 0.7em;
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 15px auto; /* Más separación con los elementos de arriba */
    width: 80%;
}

/* Ítems de la lista */
.section__list-item {
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section__list-item:hover {
    background-color: #e0e0e0;
}

/* ----------------------- */
/*  BLOQUES DE INFORMACIÓN */
/* ----------------------- */

/* Contenedor de cada bloque de información */
.info {
    text-align: center;
    margin: 20px auto; /* Reducido de 40px a 20px */
    width: 85%; /* Se amplió ligeramente para aprovechar mejor el espacio */
}

/* Títulos dentro de los bloques de información */
.info__title {
    font-size: 1.5em; /* Reducido de 1.8em a 1.5em */
    font-weight: bold;
    color: #222;
    margin-bottom: 10px; /* Reducción de espacio extra */
}

/* Párrafos de texto */
.info__text {
    font-size: 0.6em; /* Reducido de 1.3em a 1.1em */
    text-align: justify;
    line-height: 1.5; /* Reducido de 1.8 a 1.5 */
    color: #444;
    margin-bottom: 15px; /* Menos separación entre bloques */
}

.info__text--stars {
    text-align: center;
}

/* Imágenes dentro de los bloques de información */
.info__image {
    max-height: auto;
    height: auto;
    margin-top: 10px; /* Reducido de 20px a 10px */
    border-radius: 8px;
}


/* Estilos específicos para la imagen de GitHub */
.info__image--github {
    max-width: 3%; /* Reducido a un tamaño más pequeño */
    height: auto;
    display: block;
    margin: 10px auto; /* Centramos la imagen con menos margen */
}

.slider .caption {
    background: rgba(15, 174, 223, 0.6); /* Fondo negro semi-transparente */
    padding: 2px; /* Espaciado alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    display: inline-block; /* Hace que el fondo solo ocupe el espacio del texto */
    text-align: center; /* Asegura alineación */
    color: white;
}



/* ----------------------- */
/*  CASOS DE USO          */
/* ----------------------- */

.use-case__title {
    font-size: 1.5em;
    font-weight: bold;
    color: #222;
    text-align: center;
    margin-bottom: 15px;
}

.use-case__example {
    font-size: 0.8em;
    text-align: justify;
    margin-bottom: 15px;
}

.use-case__example {
    font-size: 0.8em;
    color: red;
    margin-bottom: 15px;
}

.use-case__link {
    font-size: 1.1em;
    text-align: center;
    color: #007bff;
}

.use-case__link a {
    color: #007bff;
    text-decoration: none;
}

.use-case__link a:hover {
    text-decoration: underline;
}
